body {
    background-color: #1a227e;
    color: #000;
  }
  
  .header{
    text-align: center;
  }
  
  .bloco_login{
    background-color: #2d3bcc;
    color: white;
    width: 650px;
    padding: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.411);
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px auto;
    align-items: center;
  }
  
  input, textarea{
    width: 450px;
    text-align: center;
  }

  input[name="descricaoJogo"]{
    height: 100px;
    word-wrap: break-word; /* Quebra palavras longas, se necessário */
  }
  
  button{
    width: 450px;
    height: 50px;
    background-color: rgb(156, 156, 156);
    border-radius: 15px;
  }

  button:hover{
    background-color: #797979;
    color: white;
  }

  #console{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
  }

  #console label{
    display: flex;
    flex-direction: row;
    width: 50px;
    gap: 20px;
  }
  
  footer {
    background-color: #1a237e;
    color: #fff;
    text-align: center;
    margin-top: 15px;
    padding: 20px 0;
  }
  